version: "4"
volumes:
  dist-volume:
  node-modules-volume:
services:
  npm_ci_deps:
    build:
      context: .
      dockerfile: Dockerfile.localci
    image: openebench-nuxt3:localci
    user: ${DEV_UID:-0}:${DEV_GID:-0}
    command: npm ci
    volumes:
      - ./assets:/app/assets:ro
      - ./components:/app/components:ro
      - ./config:/app/config:ro
      - ./constants:/app/constants:ro
      - ./layouts:/app/layouts:ro
      - ./pages:/app/pages:ro
      - ./plugins:/app/plugins:ro
      - ./static:/app/static
      - ./stores:/app/stores:ro
      - ./stories:/app/stories:ro
      - ./test:/app/test:ro
      - ./vitest.config.ts:/app/vitest.config.ts:ro
      - ./nuxt.config.js:/app/nuxt.config.js:ro
      - ./package.json:/app/package.json:ro
      - ./package-lock.json:/app/package-lock.json
      - ./stylelint.config.js:/app/stylelint.config.js:ro
      - ./server:/app/server:ro
      - ./types:/app/types:ro
      - ./tsconfig.json:/app/tsconfig.json:ro
      - node-modules-volume:/app/node_modules

  nuxt:
    build:
      context: .
      dockerfile: Dockerfile.localci
    image: openebench-nuxt3:localci
    user: ${DEV_UID:-0}:${DEV_GID:-0}
    depends_on:
      npm_ci_deps:
        condition: service_completed_successfully
    restart: on-failure
    volumes:
      - ./assets:/app/assets:ro
      - ./components:/app/components:ro
      - ./constants:/app/constants:ro
      - ./config:/app/config:ro
      - ./layouts:/app/layouts:ro
      - ./pages:/app/pages:ro
      - ./plugins:/app/plugins:ro
      - ./static:/app/static
      - ./stores:/app/stores:ro
      - ./stories:/app/stories:ro
      - ./test:/app/test:ro
      - ./vitest.config.ts:/app/vitest.config.ts:ro
      - ./nuxt.config.js:/app/nuxt.config.js:ro
      - ./package.json:/app/package.json:ro
      - ./package-lock.json:/app/package-lock.json
      - ./server:/app/server:ro
      - ./types:/app/types:ro
      - ./stylelint.config.js:/app/stylelint.config.js:ro
      - ./tsconfig.json:/app/tsconfig.json:ro
      - node-modules-volume:/app/node_modules
      - dist-volume:/app/dist
    ports:
      - 3001:3001
    environment:
      - CHOKIDAR_USEPOLLING=true
