@import "bootstrap/scss/bootstrap";

$colorPrimary: #0b579f;
$colorSecondary: #f47c21;

.container-padding {
  padding: 40px 25px;
}
.custom-btn {
  border-radius: 20px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  &.primary {
    background-color: $colorPrimary;
    color: white;
  }
  &.secondary {
    background-color: $colorSecondary;
  }
  &:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 1px;
    transition: 0.5s;
  }

  &:hove:after {
    opacity: 1;
    right: 40px;
    font-size: 30px;
  }
  &.btn-empty-filled {
    background-color: white;
    color: $colorPrimary;
    border: 1px solid $colorPrimary;
    &:hover {
      background-color: $colorPrimary;
      color: white;
    }
  }
}

.app-title {
  color: #0b579f;
  font-size: 3rem;
  font-weight: 600;
}

.primary--text {
  color: #0b579f;
}

.input-search input,
.custom-input input {
  box-shadow:
    rgb(255, 255, 255) 0px 0px 0px 0px inset,
    rgb(209, 213, 219) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px !important;
}
.input-search input:focus,
.custom-input input:focus {
  border: 1px solid theme("colors.primary.500") !important;
  box-shadow: none !important;
}

.status-active {
  background-color: theme("colors.statusActive.50");
  color: theme("colors.statusActive.500");
  border: 1px solid theme("colors.statusActive.500");
  transition: .5s;
  cursor: pointer;
  &:hover {
      background-color: theme("colors.statusActive.500");
      color: theme("colors.statusActive.50");
  }
  &.option-btn {
      &:hover {
          background-color: theme("colors.statusActive.50");
          color: theme("colors.statusActive.500");
      }
  }
  &__option {
      background-color: theme("colors.statusActive.500");
  }
}
.status-archived {
  background-color: theme("colors.statusArchived.50");
  color: theme("colors.statusArchived.500");
  border: 1px solid theme("colors.statusArchived.500");
  transition: .5s;
  cursor: pointer;
  &:hover {
      background-color: theme("colors.statusArchived.500");
      color: theme("colors.statusArchived.50");
  }
  &.option-btn {
      &:hover {
          background-color: theme("colors.statusArchived.50");
          color: theme("colors.statusArchived.500");
      }
  }
  &__option {
      background-color: theme("colors.statusArchived.500");
  }
}
.status-incubating {
  background-color: theme("colors.statusIncubating.50");
  color: theme("colors.statusIncubating.500");
  border: 1px solid theme("colors.statusIncubating.500");
  transition: .5s;
  cursor: pointer;
  &:hover {
      background-color: theme("colors.statusIncubating.500");
      color: theme("colors.statusIncubating.50");
  }
  &.option-btn {
      &:hover {
          background-color: theme("colors.statusIncubating.50");
          color: theme("colors.statusIncubating.500");
      }
  }
  &__option {
      background-color: theme("colors.statusIncubating.500");
  }
}
.btn-custom-badget {
  background-color: theme("colors.primary.50");
  color: theme("colors.primary.500");
  border: 1px solid theme("colors.primary.500");
  border-radius: 50px;
  min-width: 80px;
  font-size: 12px;
  transition: .5s;
  padding: 0.3rem;
  &:hover {
    background-color: theme("colors.primary.500");
    color: theme("colors.primary.50") !important;
    a {
      color: theme('colors.primary.50');
      text-decoration: none;
    }
  }
  a {
    font-size: 12px;
    text-decoration: none;
  }
}

.btn-primary {
  background-color: theme("colors.primary.500") !important;
  color: white !important;
  border-radius: 6px !important;
  &:disabled {
    background-color: theme("colors.primary.200") !important;
    color: white;
    :hover {
      background-color: theme("colors.primary.200") !important;
      color: white;
      cursor: not-allowed;
    }
  }
  &:hover:enabled {
    background-color: theme("colors.primary.50") !important;
    color: theme("colors.primary.500") !important;
    border: 1px solid theme("colors.primary.500") !important;
  }
  &.hover_effect {
    background-color: theme("colors.primary.50");
    color: theme("colors.primary.500");
    border: 1px solid theme("colors.primary.500");
    transition: .5s;
    &:hover {
      background-color: theme("colors.primary.500");
      color: white;
    }
  }
}

.btn-delete-input {
  font-size: 15px;
}