@import "bootstrap/scss/bootstrap";

$colorPrimary: #0b579f;
$colorSecondary: #f47c21;

.container-padding {
    padding: 40px 25px;
}
.custom-btn {
    border-radius: 20px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    &.primary {
        background-color: $colorPrimary;
        color: white;
    }
    &.secondary {
        background-color: $colorSecondary;
    }
    &:after {
        content: '»';
        position: absolute;
        opacity: 0;  
        top: 1px;
        transition: 0.5s;
    }

    &:hover:after {
        opacity: 1;
        right: 40px;
        font-size: 30px;
    }
}

.app-title {
    color: #0b579f;
    font-size: 3rem;
    font-weight: 600;
}

.primary--text {
    color: #0b579f;
}